page-home {
    ion-content { background-image: url(../../assets/imgs/background4.jpg);
    background-size: 100%;
    }
   ion-title * {
       margin-top: 30vh;
       margin-bottom: 5vh;
   }
   ion-item {
    background: rgba(255, 255, 255, 0.2) !important;
}
}
